<%= form_for @recipe do |f| %>
  <div class="field">
    <h3><%= f.label :title, "料理名" %></h3>
    <%= f.text_field :title, placeholder: '例) 卵焼き' %><br><br>
  </div>

  <div>
    <%= f.hidden_field :user_id, :value => "#{current_user.id}" %>
  </div>

  <h3><label>材料</label></h3>
  <div id="materials" class="field">
    <%= f.fields_for :materials do |material| %>
      <%= render 'material_fields', f: material %>
    <% end %>
  </div>
  <div class="field">
    <%= link_to_add_association "追加", f, :materials, class: "btn blue" %><br>
  </div>

  <h3><label>行程</label></h3>
  <div id="progresses" class="field">
    <%= f.fields_for :progresses do |progress| %>
      <%= render 'progress_fields', f: progress %>
    <% end %>
  </div>
  <div class="field">
    <%= link_to_add_association "追加", f, :progresses, class: "btn blue" %><br>
  </div>

  <div class="field">
    <%= f.label :title, "メモ" %><br>
    <%= f.text_field :memo, placeholder: '例) 火を強くしすぎない' %><br>
  </div>

  <div class="actions">
    <%= f.submit "投稿", class: "btn cyan" %>
  </div>
<% end %>
<br>
