<div class="form-box">
  <div class="nested-fields">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: '例) 卵' %>

      <%= f.label :amount %>
      <%= f.text_field :amount, placeholder: '例) 2個' %>
    </div>

    <div class="delete-button">
      <%= link_to_remove_association "削除", f, class: "btn red" %>
    </div>
  </div>
</div>
