<h1>Myレシピ</h1>
<hr>
<h2><%= @recipe.title %></h2>
<hr>
<h4>材料</h4>
<p>
  <ul>
    <% @recipe.materials.each do |material| %>
      <li><%= material.name %> : <%= material.amount %></li>
    <% end %>
  </ul>
</p>
<hr>
<h4>行程</h4>
<p>
  <ol type="1">
    <% @recipe.progresses.each do |progress| %>
      <li><%= simple_format progress.content %></li>
    <% end %>
  </ol>
</p>
<hr>
<h4>メモ</h4>
<p><%= @recipe.memo %></p>
<h4>カテゴリー</h4>
<p><%= Recipe.statuses_i18n[@recipe.category] %></p>
<hr>
<%= form_for ([@recipe, @recipe.favorite.build]) do |f| %>
  <p>
    <%= f.hidden_field :star, value: true %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <% flag = false %>
    <% @favorite.each do |fav| %>
      <% if fav.recipe_id.to_s == params[:id] %>
        <% flag = true %>
      <% end %>
    <% end %>
    <% if flag == false %>
      <%= f.submit "お気に入り", class: "btn orange" %>
    <% end %>
  </p>
<% end %>
<%= link_to 'レシピの編集', edit_recipe_path(@recipe), class: "btn cyan" %>
