<h1>アイデア投稿</h1>

<h3>
<%= form_for Recipeidea.new do |f| %>
  <%= f.label :title, "料理名" %><br>
  <%= f.text_field :title %><br><br>
  <%= f.label :content, "アイデアの内容" %><br>
  <%= f.text_area :content %><br><br>
  <%= f.submit "投稿", class: "btn btn-info"%>
<% end %>
</h3>
