<h1><%= current_user.name %></h1>
<hr />
<div class="card">
  <div class="card-content">
    <h4>お気に入り</h4>
    <ul>
      <div class="row">
        <% @favorites.each do |favorite| %>
          <div class="tab col s6">
            <div class="card">
              <div class="card-content">
                <% if favorite.star %>
                  <h4><li>
                      <%= link_to @recipes.find(favorite.recipe_id).title,
                        recipe_path(favorite.recipe_id) %>
                      <%= link_to mi.delete,
                        recipe_favorite_path(@recipes.find(favorite.recipe_id), favorite),
                        method: :delete,
                        class: 'btn red' %>
                  </li></h4>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </ul>
  </div>
</div>
<hr />
<h4>ダッシュボード</h4>
<div class="card">
  <div class="card-content">
    <div class="card">
      <div class="card-content">
        <h5>レシピ投稿数 : <%= Recipe.where(user_id: current_user.id).count %></h5>
        <h5>アイデア投稿数 : <%= RecipeIdea.where(user_id: current_user.id).count %></h5>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <label>進捗グラフ</label>
        <%= line_chart @chart_recipe_data %>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <label>カテゴリーグラフ</label>
        <%= pie_chart @category %>
      </div>
    </div>
  </div>
</div>
