<h1><%= current_user.name %></h1>
<h3>
  <%= link_to "今日のレシピを投稿", new_recipe_path, class: "btn btn-default" %>
  <%= link_to "アイデアを投稿", new_recipe_idea_path, class: "btn btn-default" %>
</h3>
<hr>
<h2>お気に入りMyレシピ</h2>
<ul>
  <% @favorites.each do |favorite| %>
    <% if favorite.star %>
      <h4><li>
          <%= link_to @recipes.find(favorite.recipe_id).title, recipe_path(favorite.recipe_id), class: 'btn btn-primary' %>
          <%= link_to '[解除]',
              recipe_favorite_path(@recipes.find(favorite.recipe_id), favorite),
              method: :delete %>
      </li></h4>
    <% end %>
  <% end %>
</ul>
