<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>LetsCOOK</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav>
        <div class="nav-wapper">
          <%= link_to "LetsCOOK", welcomes_path %>
        </div>
      </nav>
      <%= link_to "トップページ", welcomes_path, class: "btn orange" %>
      <%= link_to "レシピ一覧", recipes_path, class: "btn orange" %>
      <%= link_to "アイデア一覧", recipe_ideas_path, class: "btn orange" %>
    <% else %>
      <nav class="nav-extended">
        <div class="nav-wapper">
          <%= link_to "LetsCOOK", welcomes_path %>
        </div>
      </nav>
    <% end %>

    <div class="row">
      <div class="tab col s1"></div>
      <div class="tab col s10">
        <%= yield %>
        <hr>
        <%= link_to 'Back', :back, class: "btn " %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn red" %>
      </div>
      <div class="tab col s1"></div>
    </div>

    <script>
      $(".button-collapse").sideNav();
    </script>
  </body>
</html>
