<!DOCTYPE html>
<html>
  <head>
    <title>LetsCOOK</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
          <span class="sr-only">メニュー</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="gnavi" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">HOME</a></li>
          <li><a href="/welcomes/about">ABOUT</a></li>
          <li><a href="/recipes/home">投稿</a></li>
          <li><a href="/recipes/list">一覧</a></li>
          <li><%= link_to 'SIGN_OUT', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
